<app-navbar></app-navbar>

<br><br>

<ngx-spinner *ngIf="loader.isloading | async" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
  type="ball-scale-multiple">
  <div class="la-ball-atom la-dark la-3x">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br>
  <p style="font-size: 20px; color: white">&nbsp; Loading...</p>
</ngx-spinner>



<div class="container">
  <div class="col-lg-12">
    <div class="column">

      <div class="col-lg-12 border p-4 mt-3" *ngFor="let prod of products;">
        <div class="row">
          <div class="col-lg-5 ">
            <img style="height: 300px; width: 300px;" src="{{prod.image}}">
          </div>
          <div class="col-lg-7">
            <h1>{{prod.title}}</h1>
            <p>{{prod.description}}</p>
            <p>{{prod.category}}</p>
            <p>{{prod.price | currency:"INR"}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
